<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: whitesmoke;
        }

        form {
            background-color: whitesmoke;
            width: 300px;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <div class="container">
        <form action="/cadastro_prof" method="post">
            <legend>Cadastro Professor</legend>
            <div class="mb-2">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" name="cpf" id="cpf" pattern="[0-9]*"
                    title="Apenas números são permitidos" minlength="11" maxlength="11" placeholder="CPF sem pontuação"
                    required>
            </div>
            <div class="mb-2">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" minlength="2" name="nome" id="nome" required>
            </div>
            <div class="mb-2">
                <label for="instituicao">Instituição</label>
                <input type="text" class="form-control" name="instituicao" id="instituicao" required>
            </div>
            <div class="mb-2">
                <label for="externo">Externo</label>
                <select class="form-control" name="externo" id="externo" required>
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a href="/listar_prof" class="btn btn-secondary" type="button">Listar</a>
        </form>
    </div>
</body>
</body>

</html>