<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

</head>

<body>
  <table>
    <tr> 
      <th>Nome</th>

      <th>Matrícula</th>

      <th>Ações</th>
    </tr>
    <br>
    {% for aluno in alunos %}
    <tr>
      <td>{{ aluno.nome }}</td>

      <td>{{ aluno.matricula }}</td>

      <td>
        <form action="/excluir_aluno" method="post">
          <input type="hidden" name="matricula" value="{{ aluno.matricula }}">
          <button type="submit">Excluir</button> 
    
          <a href="/atualizar_aluno?matricula={{ aluno.matricula }}" class="button" type="submit">Atualizar</a>
        </form>
      </td>
    </tr>

    {% endfor %}

  </table>
</body>

</html>

