<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>

</head>

<body>
    <h1>Dados do Cadastro</h1>
    <p>Código agendamento: {{ codigoagen }}</p>
    <p>Código da sala: {{ codigosala }}</p>
    <p>Matrícula do Aluno: {{ matriculaaluno }}</p>
    <p>CPF do Professor Orientador: {{ cpfprof }}</p>
    <p>CPF do membro da banca 1: {{ cpf1 }}</p>
    <p>CPF do membro da banca 2: {{ cpf2 }}</p>
    <p>CPF do membro da banca 3: {{ cpf3 }}</p>
    <p>CPF do membro da banca 4: {{ cpf4 }}</p>
</body>

</html>