<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    
    
</head>

<body class="aluno_prof">
    <div class="dados_cadastrados">
    <h1>Dados do Cadastro</h1>
    <p>Nome: {{ nome }}</p>
    <p>Matrícula: {{ matricula }}</p>
   </div>
</body>

</html>