<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>

</head>

<body>
    <h1>Dados do Cadastro</h1>
    <p>Nome da Sala: {{ nomesala }}</p>
    <p>Código da Sala: {{ codigosala }}</p>
    <p>Local(Sala/Laboratorio): {{ local }}</p>
    <p>Horário de Início: {{ inicio }}</p>
    <p>Horário de Término: {{ termino }}</p>
    <p>Reservado: {{ reservado }}</p>
</body>

</html>